* {
	appearance: none;
	padding: 0;
	margin: 0;
	outline: 0;
	border: 0;
	line-height: 100%;
	font-family: system-ui;
	font-weight: lighter;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 16px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eee;
}

body > img {
	position: relative;
	z-index: 9;
	width: 60%;
	opacity: 1;
	filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.25));
}

body > aside {
	position: fixed;
	bottom: 0.5rem;
	left: 32vw;
	right: 32vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	white-space: nowrap;
	font-size: 1rem;
	padding: 0.5rem;
	color: white;
	background-color: #ffd400;
	z-index: 19;
}

body > h1 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	color: white;
	padding: 1rem;
	text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	background-color: #0259bc;
	font-size: 4rem;
}

body > nav {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	font-size: 4rem;
	text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

body > nav > div {
	background-color: #ffd400;
	padding: 1rem;
}

body > main {
	display: flex;
	flex-wrap: nowrap;
	justify-content: stretch;
	align-items: stretch;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: 4;
}

body > main > section {
	height: 100%;
	width: 1px;
	flex-grow: 1;
	flex-shrink: 1;
	margin-left: 2px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
}

body > main > section:first-of-type {
	margin-left: 0;
}

body > main > section > * {
	width: 100%;
	background-color: white;
	flex-grow: 1;
	flex-shrink: 1;
}

body > main > section > header {
	width: 100%;
	background-color: #0259bc;
	margin-bottom: 1px;
	border-radius: 0 0 5px 5px;
}

body > main > section:first-of-type > header {
	border-radius: 0 0 5px 0;
}

body > main > section:last-of-type > header {
	border-radius: 0 0 0 5px;
}

body > main > section > footer {
	width: 100%;
	background-color: #ffd400;
	margin-top: 1px;
	border-radius: 5px 5px 0 0;
}

body > main > section:first-of-type > footer {
	border-radius: 0 5px 0 0;
}

body > main > section:last-of-type > footer {
	border-radius: 5px 0 0 0;
}

body > a {
	color: white;
	position: fixed;
	top: 0;
	right: 0;
	padding: 1rem;
	font-size: 1rem;
	z-index: 9999;
	background-color: #0259bc;
	text-decoration: none;
}
